.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#upper-container {
  display: flex;
  flex-flow: row nowrap;
}

#upper-container #content-selection {
  width: 300px;
  padding: 20px 30px;
  background: #FCF;
}


#upper-container #utterances {
  width: 100%;
  max-height: 500px;
  /*overflow-y: hidden;*/
  background: #CFF;
}

.currentFocus {
  font-size: 20px;
}
